<html>
	<head>
		<title>Login Page</title>
	</head>
	<body>
		<form action="login" method="post">
		Please enter your login information
		UserName <input type = "text"/>
		Password <input type= "password"/>
		<input type="submit"/>
		</form>
	</body>
	
</html>